{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <a href="{% url 'webcam:index' %}">메인으로</a>
    </div>  

    <h1>Counseling List</h1>
    {% for counseling in counseling_list %}

    <div class="container">
            <a href="{% url 'webcam:counseling_detail' pk=counseling.pk %}">상담분석 바로가기</a>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row" width="100px">상담사</th>
                        <td>{{counseling.user.userid}}</td>
                    </tr>
                    <tr>
                        <th scope="row" width="100px">상담자</th>
                        <td>{{counseling.customername}}</td>
                    </tr>
                    <tr>
                        <th scope="row" width="100px">상담주제</th>
                        <td>{{counseling.counsel_subject}}</td>
                    </tr>
                    <tr>
                        <th scope="row" width="100px">상담내용</th>
                        <td>{{counseling.content}}</td>
                    </tr>
                </tbody>
            </table>
        <hr>
    </div>   
    
{% empty %}
        <p>No counseling sessions available.</p>
{% endfor %}

{% endblock %}