{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="container">
            <a href="{% url 'webcam:index' %}">메인으로</a>
        </div>
        
        <h1>Counseling Form</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
            <label for="{{ form.customername.id_for_label }}">고객 이름:</label>
            {{ form.customername }}
            </div>
            <div class="form-group">
            <label for="{{ form.counsel_subject.id_for_label }}">상담 주제:</label>
            {{ form.counsel_subject }}
            </div>
            <div class="form-group">
            <label for="{{ form.content.id_for_label }}">상담 내용:</label>
            {{ form.content }}
            </div>
            <div class="form-group">
            <label for="{{ form.storage_data.id_for_label }}">저장 데이터:</label>
            {{ form.storage_data }}
            </div>
            <div class="form-group">
                <label for="{{ form.realtime_true_false.id_for_label }}">실시간여부:</label>
                {{ form.realtime_true_false }}
                </div>
            <button id="submitbtn" type="submit">제출하기</button>
        </form>

    </div> 


{% endblock %}









