{% extends 'base.html' %}
{% load static %}






{% block content %}


<h1> Counseling Detail </h1>
<p>pk확인용:{{ counseling.pk }}</p>

<p>상담사:{{ counseling.userid }}</p>
<p>상담자:{{ counseling.customername }}</p>
{% if counseling.realtime_true_false %}
<p>실시간 여부:YES</p>
{% else %}
<p>실시간 여부:No</p>
{% endif %}
<p>상담 일시:{{ counseling.created_at }}</p>
<p>상담 주제:{{ counseling.counsel_subject }}</p>
<p>상담 내용:{{ counseling.content }}</p>
<p>내용 변경일:{{ counseling.updated_at }}</p>
<hr>
<hr>
{% if detectedemotion %}
<p> detect pk확인용: {{detectedemotion.pk}}</p>
<p>detectedemotion파트 {{detectedemotion}}</p>
{% endif %}


{% endblock %}