{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Realtime Detection</h1>


    
    <img id="video" src="" alt="Video streaming">
    <br>
    <button id="start-btn">Start</button>
    <button id="stop-btn">Stop</button>
    <script>
        const video = document.getElementById('video');
        const startBtn = document.getElementById('start-btn');
        const stopBtn = document.getElementById('stop-btn');
      
        let socket;
      
        function createWebSocket() {
          socket = new WebSocket('ws://' + window.location.host + '/ws/video/');
      
          socket.onopen = function(event) {
            console.log('WebSocket opened:', event);
          };
      
          socket.onmessage = function(event) {
            const imageBase64 = event.data;
            video.src = 'data:image/jpeg;base64,' + imageBase64;
          };
      
          socket.onclose = function(event) {
            console.log('WebSocket closed:', event);
            if (!event.wasClean) {
              setTimeout(createWebSocket, 3000);
            }
          };
        }
      
        createWebSocket();
      
        startBtn.addEventListener('click', () => {

        if (!socket || socket.readyState === WebSocket.CLOSED) {
            createWebSocket();
              }



          socket.send('start');
    

        });
      
        stopBtn.addEventListener('click', () => {
          socket.send('stop');
          socket.close(3000, 'Stop button clicked');
        });
      
        window.onbeforeunload = function() {
          socket.send('stop');
          socket.close();
        };
      
    </script>
        
{% endblock %}
