{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <h1>Realtime Detection</h1>
    {% csrf_token %}

    <img id="video" width="650px" height="400px"  src="{% static 'img/avatar.png' %}" alt="Video streaming">
    <br>
    <button id="start-btn">Start</button>
    <button id="stop-btn">Stop</button>
    <button type="button" onclick="location.href='{% url 'webcam:index'  %}'" id="to_main">메인으로</button>

    <div style="width: 900px; height: 400px;" >
   
      <canvas id="myChart"></canvas>
    </div>
    <div style="width: 600px; height: 400px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Feelings</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>anger</td>
          <td id="anger">0</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>anxiety</td>
          <td id="anxiety">0</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>embarrassed</td>
          <td id="embarrassed">0</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>hurt</td>
          <td id="hurt">0</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>neutral</td>
          <td id="neutral">0</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>pleasure</td>
          <td id="pleasure">0</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>sad</td>
          <td id="sad">0</td>
        </tr>

      </tbody>
    </table>
  </div>
 
 <script src="{% static 'js/socket.js' %}"></script>

 <script>
    let counselingId = "{{ counseling.pk }}";
    console.log(counselingId)

    createWebSocket(counselingId);
 </script>


{% endblock %}
