{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Realtime Detection</h1>

    <img id="video" src="" alt="Video streaming">
    <br>
    <button id="start-btn">Start</button>
    <button id="stop-btn">Stop</button>
    <div style="width: 900px; height: 900px;">
      <!--차트가 그려질 부분-->
      <canvas id="myChart"></canvas>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Feelings</th>
          <th scope="col">Count</th>
          <th scope="col">ETC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>anger</td>
          <td id="anger">0</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>anxiety</td>
          <td id="anxiety">0</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>embarrassed</td>
          <td id="embarrassed"></td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>hurt</td>
          <td id="hurt">0</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>neutral</td>
          <td id="neutral">0</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>pleasure</td>
          <td id="pleasure">0</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>sad</td>
          <td id="sad">0</td>
          <td>@twitter</td>
        </tr>

      </tbody>
    </table>




    <script>
        const video = document.getElementById('video');
        const startBtn = document.getElementById('start-btn');
        const stopBtn = document.getElementById('stop-btn');
        const anger= document.getElementById('anger')
        const anxiety= document.getElementById('anxiety')
        const embarrassed= document.getElementById('embarrassed')
        const hurt= document.getElementById('hurt')
        const neutral= document.getElementById('neutral')
        const pleasure= document.getElementById('pleasure')
        const sad= document.getElementById('sad')




        let socket;
      
        function createWebSocket() {
          socket = new WebSocket('ws://' + window.location.host + '/ws/video/');
      
          socket.onopen = function(event) {
            console.log('WebSocket opened:', event);
          };
      
          socket.onmessage = function(event) {
            data=JSON.parse(event.data)
            const imageBase64 = data['image'];
            const feelings = data['feelings'];
            
            anger.innerText= feelings['anger'];
            anxiety.innerText= feelings['anxiety'];
            embarrassed.innerText= feelings['embarrassed'];
            hurt.innerText= feelings['hurt'];
            neutral.innerText= feelings['neutral'];
            pleasure.innerText= feelings['pleasure'];
            sad.innerText= feelings['sad'];

        


            video.src = 'data:image/jpeg;base64,' + imageBase64;
          };
      
          socket.onclose = function(event) {
            console.log('WebSocket closed:', event);
            if (!event.wasClean) {
              setTimeout(createWebSocket, 1000);
            }
          };
        }
      
        createWebSocket();
      
        startBtn.addEventListener('click', () => {
          if (!socket || socket.readyState === WebSocket.CLOSED) {
            createWebSocket();
          }
          setTimeout(() => {
            socket.send(JSON.stringify({message: 'start', counseling_id: 1}));
          }, 500);
        });
      
        stopBtn.addEventListener('click', () => {
          if (socket && socket.readyState === WebSocket.OPEN) {
            console.log(socket.readyState)
            socket.send(JSON.stringify({message: 'stop', counseling_id: 1}));
            socket.close(1000);
          
          }
        });
      
        window.onbeforeunload = function() {
          if (socket && socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify({message: 'stop'}));
          }
        };



     var context = document
          .getElementById('myChart')
          .getContext('2d');
      var myChart = new Chart(context, {
          type: 'bar', // 차트의 형태
          data: { // 차트에 들어갈 데이터
              labels: [
                  //x 축
                  'anger','anxiety','embarrassed','hurt','neutral','pleasure','sad'
              ],
              datasets: [
                  { //데이터
                      label: '감정차트', //차트 제목
                      fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                      data: [
                      parseInt(anger.innerText),parseInt(anxiety.innerText),parseInt(embarrassed.innerText),
                      hurt.innerText,neutral.innerText,pleasure.innerText,sad.innerText //x축 label에 대응되는 데이터 값
                      ],
                      backgroundColor: [
                          //색상
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          //경계선 색상
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1 //경계선 굵기
                  }/* ,
                  {
                      label: 'test2',
                      fill: false,
                      data: [
                          8, 34, 12, 24
                      ],
                      backgroundColor: 'rgb(157, 109, 12)',
                      borderColor: 'rgb(157, 109, 12)'
                  } */
              ]
          },
          options: {
              scales: {
                  yAxes: [
                      {
                          ticks: {
                              beginAtZero: true
                          }
                      }
                  ]
              }
          }
      }); 
  </script>
        
{% endblock %}
