{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- # site-content
        ================================================== -->
        <section id="content" class="s-content">
            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro target-section">
                <div class="s-intro__content"><!-- hero.jpg 들어감 -->
                    <!--<img class = "backimg" src="{% static 'img/hero-bg.jpg' %}"></img>-->
                </div>
                <div class="s-intro__content-bg">
                    <!--<img class = "introimg" src="{% static 'img/intro-bg.jpg' %}"></img>-->
                </div> <!-- intro.jpg들어감 -->

            </section> <!-- end s-intro -->
            <section id="about" class="s-about target-section">
                <div class="row section-header" data-num="01">
                    <h3 class="column lg-12 section-header__pretitle pretitle text-pretitle">Who We Are</h3>
                    <div class="column lg-6 stack-on-1100 section-header__primary">
                        <h2 class="title text-display-1">
                        EmoAI는 감정분석에 특화된 웹서비스를 제공하는 회사입니다. 
                        </h2>
                    </div>
                    <div class="column lg-6 stack-on-1100 section-header__secondary">
                        <p class="desc">
                        저희의 목표는 고객이 제공한 발화를 분석하여 발화자의 감정 상태를 정확하게 
                        파악하여, 보다 효과적인 커뮤니케이션과 의사결정을 돕는 것입니다.
                        </p>
                    </div>
                </div> <!-- end section-header -->
            </section>

            <!-- /#about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">
                <div class="row section-header" data-num="01">
                    <h3 class="column lg-12 section-header__pretitle pretitle text-pretitle">Who We Are</h3>
                    <div class="column lg-6 stack-on-1100 section-header__primary">
                        <h2 class="title text-display-1">
                        EmoAI는 감정분석에 특화된 웹서비스를 제공하는 회사입니다. 
                        </h2>
                    </div>
                    <div class="column lg-6 stack-on-1100 section-header__secondary">
                        <p class="desc">
                        저희의 목표는 고객이 제공한 발화를 분석하여 발화자의 감정 상태를 정확하게 
                        파악하여, 보다 효과적인 커뮤니케이션과 의사결정을 돕는 것입니다.
                        </p>
                    </div>
                </div> <!-- end section-header -->

                <div class="row whatwedo-list list-block block-lg-one-half block-tab-whole">

                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <div class="list-block__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: 0;msFilter: 0;"><path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path></svg>
                            </div>
                            <h3 class="h5">Tech</h3>
                        </div>
                        <div class="list-block__text">
                            <p>
                            저희는 자연어처리(Natural Language Processing) 기술을 활용하여 
                            고객이 제공한 발화를 분석하며, 
                            인공지능 기술을 적용하여 정확한 감정분석 결과를 제공합니다.
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->

                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <div class="list-block__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: 0;msFilter: 0;"><path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path></svg>
                            </div>
                            <h3 class="h5">Privacy</h3>
                        </div>
                        <div class="list-block__text">
                            <p>
                            개인정보 보호와 안전한 서비스 제공을 위해 최신 보안기술을 적용하고 있습니다.
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->
        
                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <div class="list-block__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: 0;msFilter:0;"><path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path></svg>
                            </div>
                            <h3 class="h5">Additional service</h3>
                        </div>
                        <div class="list-block__text">
                            <p>
                            고객의 다양한 요구에 부응하기 위해, 감정분석 결과를 시각화하고, 보고서로 제공하는 등의 부가 서비스를 제공
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->
        
                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <div class="list-block__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: 0; msFilter:0;"><path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path></svg>
                            </div>
                            <h3 class="h5">Effort</h3>
                        </div>
                        <div class="list-block__text">
                            <p>
                            고객의 피드백을 적극 수용하여 보다 나은 서비스를 제공하기 위해 노력하고 있습니다.
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->

                </div> <!-- end process-list -->
                
                <br>
                <br>
                
                <!-- what we do -->
                <section id="whatwedo" class="s-whatwedo target-section">
                <div class="row section-header" data-num="02">
                    <h3 class="column lg-12 section-header__pretitle text-pretitle">What We Do</h3>
                </div> <!-- end section-header -->

                <div class="row process-list list-block show-ctr block-lg-one-half block-tab-whole">

    
                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <h3 class="h5">Consulting</h3>
                        </div>
                        <div class="list-block__img">
                            <p>
                            <img src="{% static 'img/상담.jpg' %}"></img>
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->
        
                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <h3 class="h5"> Emotion Analysis</h3>
                        </div>
                        <div class="list-block__img">
                            <p>
                            <img src="{% static 'img/분석.jpg' %}"></img>
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->
        
                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <h3 class="h5">Get Idea</h3>
                        </div>
                        <div class="list-block__img">
                            <p>
                            <img src="{% static 'img/아이디어.jpg' %}"></img>
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->
        
                    <div class="column list-block__item">
                        <div class="list-block__title">
                            <h3 class="h5">Solution</h3>
                        </div>
                        <div class="list-block__img">
                            <p>
                            <img src="{% static 'img/솔루션.jpg' %}"></img>
                            </p>
                        </div>
                    </div> <!-- end list-block__item -->
                </div> <!-- end process-list -->
            </section> <!-- end /#about -->
            <section id="contact_us">
                <div class="row section-header" data-num="03">
                        <h3 class="column lg-12 section-header__pretitle text-pretitle">Get In Touch</h3>
                        <div class="column lg-6 stack-on-1100 section-header__primary">
                            <h2 class="title text-display-1">
                            Have an idea or an epic project in mind? 
                            <a href="mailto:#0" title="">hello@emoai.com</a>
                            </h2>
                        </div>    
                        <div class="column lg-6 stack-on-1100 section-header__secondary">
                            
                            <div class="contact-block">
                                <h6>Where To Find Us</h6>
                                <p>
                                서울시 서초구 효령로 335 <br>
                                </p>
                            </div>
            
                            <div class="contact-block">
                                <h6>Contact Infos</h6>
                                <ul class="contact-list">
                                    <li><a href="tel:000-000-0000">+000 000 0000</a></li>
                                </ul>
                            </div>
            
                        </div>
                    </div> <!-- end section-header -->
                </section>

            <div class="row list-block block-lg-one-half block-tab-whole block-stack-on-1000 s-footer__btns">
                <div class="column list-block__item">
                    <div class="s-footer__contact-btn">
                        <a href="mailto:#0" class="btn btn--primary u-fullwidth">
                            Let's Talk 
                        </a>
                    </div>
                </div>
                <div class="column list-block__item">
                    <div class="subscribe-form s-footer__subscribe">
                        <h6>Subscribe</h6>
                        <form id="mc-form" class="mc-form">
                            <input type="email" name="EMAIL" id="mce-EMAIL" class="u-fullwidth text-center" placeholder="Your Email Address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
                            <input type="submit" name="subscribe" value="Subscribe" class="btn btn--primary u-fullwidth">
                            <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cdb7b577e41181934ed6a6a44_9a91cfe7b3" tabindex="-1" value=""></div> -->
                            <div class="mc-status"></div>
                        </form>
                    </div>
                </div>
            </div> <!-- end s-footer__btns -->

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: 0; msFilter: 0;"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"></path></svg>
                </a>
            </div> <!-- end ss-go-top -->

{% endblock %}

