{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}"> 
<header class="s-header ">
    <div class="row s-header__inner">
        <div class="s-header__block">
            <div class="s-header__logo">
                <a class="logo" href="/">
                    <img src="{% static 'img/EmoAI-logo-white.png' %}" alt="Homepage">
                </a>
            </div>
            <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                
        </div> <!-- end s-header__block -->

        <nav class="s-header__nav">
            <ul class="s-header__menu-links">
                <li class="current"><a href="/" class="smoothscroll">Home</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="{% url 'app:demo' %}">Demo</a></li>
                <li><a href="{% url 'webcam:index' %}">Service</a></li>
                <li><a href="/qna/">QnA</a></li>
                <li><a href="/#contact_us">Contact</a></li>
            </ul> <!-- s-header__menu-links -->
            <div class="row row-y-center">
                {% if user.is_authenticated %}
                {{ user.userid }}님
                <div class="col nav-item">
                    <a class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
                        <img src="{% static 'img/avatar.png' %}" width="40" height="40" alt="Circle Image" class="rounded-circle img-fluid"></a>
                        <ul class="dropdown">
                            <li><a href="{% url 'account:profile' %}">Profile</a></li>
                            <li><a href="{% url 'account:userinfo' %}">Settings</a></li>
                            <li><a href="{% url 'account:logout' %}">Logout</a></li>
                        </ul>
                </div>
            </div>
                {% else %}
                <button class="hoverbutton" type="button" onclick="location.href='{% url 'account:login' %}'"> Login </button>
                <button class="hoverbutton2" type="button" onclick="location.href='{% url 'account:signup' %}'"> Sign-up</button>
                {% endif %}
        </nav>
    </div> <!-- "row s-header__inner" -->
</header>