.emotion-chart {
    display: flex;
    justify-content: flex-end;
    width: 40vw; height: 30vw;
}


.emotion-table{
    display: flex;
    justify-content: flex-end;
    width: 40vw; height: 30vw;
}
